%h1 Autorzy naszego forum
- if alert
  %p
    Uwaga!: #{alert}
- elsif notice
  %p
    generalnie spoko, ale : #{notice}
%dl
  - @authors.each do |author|
    %dt
      = author.nickname
      = link_to "Przejdź do", author_path(author.id)