<h1> posty </h1>
<dl>
<% @posts.each do |post| %>
<dt>
	<%= post.title %>
	<dd>
		<%= link_to "Autor " + post.author.nickname, author_path(post.author_id) %>
		<%= link_to "Przejdź do rozmowy", post_path(post.id) %>
	</dd>
</dt>
<% end %>
</dl>